*{
    margin: 0;
    padding: 0;
} 

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

html, body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(10, 9, 9, 0.4), rgba(253, 252, 252, 0.4)), url(img/fondo.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    
}

body header{
    background-color: rgba(30, 53, 79, 1);
    position: absolute;
    width: 100%;
    height: 13%;
    left: 0px;
    right: 0px;
    top: 0px;
}

body header img{
    margin-left: 2%;
    margin-top: 1%;
    width: 15%; 
}

body header .jolteonRun{
    margin-left: 75%;
    width: 4%;
}

main .enter{
    width: 35%;
    height: auto;
    cursor: pointer;
    margin-bottom: -5%;
}

main .img-copa{
    width: 40%;
    margin-top: 7%;
}

main .welcome{
    position: absolute;
    border-radius: 30px;
    background-color: rgba(30, 53, 79, 0.82);
    width: 40%;
    height: auto;
    text-align: center;
    padding: 2%;
    margin-top: 12%;
    margin-left: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    color: white;
}

main .welcome .font-logo{
    color: rgba(251, 215, 31, 1);
}

main .welcome .btn{
    background-color: transparent; 
    border: none;
}

main .table-top{
    position: absolute;
    border-radius: 30px;
    background-color: rgba(30, 53, 79, 0.82);
    text-align: center;
    width: 20%;
    height: 68%;
    padding-top: 1.5%;
    padding-bottom: .5%;
    margin-left: 70%;
    margin-top: 8%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    color: white;
}

main td img{
    width: 40%;
    height: auto;
    margin: -2.5%;
}

main .img-colum{
    text-align: center;
}

main .top10, .tittle-top{
    text-align: left;
    padding: .7%;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tittle-top{
    color: rgba(251, 215, 31, 1);
}

main th{
    font-size: .8em;
}

main .table-top .tb1{
    border-collapse: collapse;
    width: 85%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

main td {
    width: 150px;
    font-size: 3vh;
}

main .tr-hover:hover{
    color:rgba(30, 53, 79, 1);
    background-color: rgb(246, 218, 79);
    cursor: pointer;
}

footer{
    background-color: rgba(64, 121, 153, 1);
    border-color: black;
    position: absolute;
    margin-bottom: 0%;
    width: 100%;
    height: 5%;
    left: 0%;
    bottom: 0%;
    padding-top: .5%;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 1em;
    color: rgb(206, 205, 205);
    border-top: 4px solid rgba(60, 214, 131, 1);
}

footer a{
    color: inherit;
}

/* max-height: 100%;  */
/* overflow: auto; */
/* main .table-top::-webkit-scrollbar {
    -webkit-appearance: none;
}
main .table-top::-webkit-scrollbar:vertical {
    width: 10px;
}  */

.fondoPokedex {
    background-image: url(img/fondo-pokedex.jpg);
}
header .inicio {
    font-family:sans-serif, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace ;
    font-size: 2.5vh;
    color: white;
    margin-left: 73%;
    text-decoration: none;
    border-radius: 20px;
    background-image: linear-gradient(180deg, #1E354F 46.17%, #3D5775 100%);
    padding: 1% 2%;
    margin-top: 1%;
    position: absolute;
    width: 3.8%;
    height: 20%;
    left: 15%;
    top: 7%;
}
header .inicio:hover {
    box-shadow: 0px 3px 2px #FBD71F;
}
.main-pokedex{
    display: inline-flex;
    height: 75%;
    margin-top: 7%;
    width: 99.5%;
}
.main-pokedex .filter{
    height: 100%;
    width: 20%;
}
.main-pokedex .filter .filter-container{
    margin: 3%;
    height: 19%;
}
/* modifi */
.filter-containerChild {
    display: inline-block;
    width: 90%;
    height: 40%;
}
.filter-containerChild label {
    padding: 3% 8% 3% 30%;
    display: block;
    border-radius: 0px 15px 15px 0px;
    background-color: #70DBA1;
    font-size: 2.5vh;
    text-align: right;
    letter-spacing: .2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
}
.filter-select {
    display: block;
    margin-top: -9%;
    height: 100%;
    width: 90%;
    max-height: 100%;     
    text-align: center;
    padding: 1%;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.filter-select:hover{
    background-color: #bad2ed;
}
/* modifiq */
.main-pokedex .listado{
    width: 80%; 
    display: block;
}
.listado .buscador{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; 
    color:#1E354F;
    padding: 1% 0 1% 5%;
}
.listado .buscador .buscador-input{
    border-radius: 7px;
    padding: .3em 1em;
    border-color: #9d9b9b;
}
.listado .buscador .lupa{
    padding: .5em;
    border-radius: 7px;
    background-color: #70DBA1;
    border-color: #70DBA1;
    margin-right: 45%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.listado .listado-pkmn{ 
    overflow: auto;
    max-height: 90%;
}
.listado .listado-pkmn::-webkit-scrollbar{
    width: 20px;
}
.listado .listado-pkmn::-webkit-scrollbar-track{
    background: #3d577559;
    border-radius: 30px;
}
.listado .listado-pkmn::-webkit-scrollbar-thumb{
    background-color: #1E354F;
    border-radius: 30px;
}
.listado .listado-pkmn .dataList{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10%;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.listado .listado-pkmn .dataList .container{
    margin: 2% 1% 2% 1%;
}
.listado .listado-pkmn .dataList .container:hover{
    transform: scale(1.2);
}
.container-dex{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif;
    font-size: .8em;
    font-weight: bold;
}
.container-type1{
    padding-right: .5em;
}
.container-type2{
    padding-left: .5em;
}
.grass::before{
    background-color: #38BD6E;
    content: "Planta";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.poison::before{
    background-color: #F872E2;
    content: "Veneno";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.water::before{
    background-color: #4AB6F3;
    content: "Agua";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.electric::before{
    background-color: #FAD61F;
    content: "Eléctrico";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.fighting::before{
    background-color: #DE5466;
    content: "Lucha";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.fairy::before{
    background-color: #F9B1E5;
    content: "Hada";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.fire::before{
    background-color: #F78B28;
    content: "Fuego";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.ice::before{
    background-color: #95FAFA;
    content: "Hielo";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.flying::before{
    background-color: #768cd0;
    content: "Volador";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.psychic::before{
    background-color: #FF8B7A;
    content: "Psíquico";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.normal::before{
    background-color: #C0C0BA;
    content: "Normal";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.steel::before{
    background-color: #2C9399;
    content: "Acero";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.bug::before{
    background-color: #8FD941;
    content: "Bicho";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.dragon::before{
    background-color: #327ECB;
    content: "Dragon";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.dark::before{
    background-color: rgba(91, 96, 116, 0.75);
    content: "Siniestro";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.ground::before{
    background-color: #D3C893;
    content: "Tierra";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.rock::before{
    background-color: #C9B758;
    content: "Roca";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.ghost::before{
    background-color: #A28CE2;
    content: "Fantasma";
    padding: 0 .5em;
    border-radius: 8px;
    font-size: .9em;
}
.filter-show{
    align-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
    color: #1E354F;
    height: 40%;
    padding-top: 7%;
}
#printPokedex {
    /* border: 2px solid rgb(69, 7, 192); */
    color: #1E354F;
}
.regionImg{
    width: 25%;
    margin-top: -3%;
}
.iconImg{
    width: 8%;
    padding-right: 3%;
    transform: scale(1.5);
}
.rarityImg{
    width: 45%;
    margin-top: -9%;
}
#modal{
    background-color: #00000036;
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.modal-content{
    border: 5px solid yellow;
    background-color: white;
    margin: auto;
    margin-top: 2%;
    padding: 5%;
    width: 60%;
}
.modal-name{
    background-color: #8FD941;
}
.modal-img{
    background-color: #b54af3;
}
.ocultar{
    display: none;
}